.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.mainContainer {
    width: 100%!important;
    min-height: 100vh;
    position: relative;
    top: 60px;
    padding-top: 10px;
}

.mainContent {
    width: 100%;
    position: relative;
    padding-right: 180px;
    min-height: 100vh;
    z-index: 1;
}