.search-people-avatar {
    width: 100%!important;
    border-radius: 50%;
}
.search-avatar {
    width: 100px!important;
}
.search-result-single:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.03);
    padding-bottom: 10px;
}
.search-info {
    padding: 10px;
    margin-left: 10px;
}