
.alert-container {
    position: fixed;
    top: 50px;
    right: 60px;
    float: right;
    width: 480px;
    z-index: 9999;
}
.alert {
    width: 100%;
    min-height: 50px;
}
.alert-danger {
    background-color:rgba(235, 68, 79, 0.6)
}
.alert-text {
    color: white;
    font-size: 1rem!important;
}
.alert-text-container {
    max-width: 90%;
    word-wrap: break-word;
}