.chat-container {
    position: fixed;
    z-index: 2;
    bottom: 0;
    max-width: 60%;
    right: 15%;
    overflow: hidden;
    max-height: 350px;
}

.chat-container .chatbox {
    width: 284px;
    background-color: #ffffff;
    float: right;
    margin-left: 12px;
    margin-right: 12px;
}

.chat-container .chatbox a {
    color: #ffffff!important;
}

.chat-container .chatbox .chatbox-close-btn {
    color: #ffffff;
    font-size: 1rem;
}

.chat-container .chatbox .chatbox-close-btn:hover {
    color: #585859;
}

.chat-container .chatbox .chatbox-header {
    height: 34px;
    position: relative;
    background-color: #3E7CF7;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    padding-top: 5px;
}

.chat-container .chatbox .chatbox-header div {
    overflow: hidden;
}

.chat-container .chatbox .chatbox-body {
    background-color: #ffffff;
    position: relative;
    height: 266px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-container .chatbox .chatbox-footer {
    height: 50px;
    position: relative;
}

.chat-container .chatbox.minimized .chatbox-body {
    display: none;
}

.chat-container .chatbox.minimized .chatbox-footer {
    display: none;
}

.chat-container .chatbox .send-btn {
    float: right;
    font-size: .8rem;
    text-decoration: none;
}

.chat-container .chatbox .message-input {
    width: 75%;
    padding-left: 10px;
}

.chat-container .chatbox .chatbox-body .chatbox-message {
    background-color: #F1F0F0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.chat-container .chatbox .chatbox-body .chatbox-message p {
    max-width: 154px;
    word-wrap: break-word;
}

.chat-container .chatbox .chatbox-body .chatbox-message.left {
    border-top-right-radius: 8px;
}

.chat-container .chatbox .chatbox-body .chatbox-message.right {
    border-top-left-radius: 8px;
    background-color: #3E7CF7!important;
}

.chat-container .chatbox .chatbox-body .chatbox-message.right p {
    color: whitesmoke!important;
}

.chat-container .chatbox .chatbox-body .chatbox-message.left p {
    color: black!important;
}

.chat-container .chatbox .chatbox-body .chatbox-message-user-img {
    background-color: #3E7CF7;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 0;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}