.chatbar {
    height: 100vh;
    width: 15%;
    border-right: 1px solid #f0f0f2;
    right: 0;
    box-shadow: 1px 0 0 #f0f0f2 inset;
    position: fixed;
    z-index: 2;
}

.chatbar .chatbar-element {
    float: left;
    position: relative;
    width: 100%;
    top: 60px;
    max-height: 100%;
}

.chatbar .chatbar-element:not(:last-child) {
    border-top: 1px solid #f0f0f2;
}

.chatbar .contact-single .btn-link {
    color: #585859!important;
}

.chatbar .contact-single:hover {
    background-color: #DDDFE2;
}

.chatbar button {
    font-size: .8rem!important;
}

.chatbar .btn-link:hover {
    text-decoration: none;
}