nav {
    height: 60px!important;
    background-color: #4267B2;
}

nav .logo {
    height: 30px!important;
    border-radius: 5px;
}

nav a {
    color: white!important;
    text-decoration: none!important;
}

.nav {
    float: right!important;
}

.nav li {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.nav li:hover {
    background-color: #1D4489;
}

.nav .avatar {
    border-radius: 5px;
}

nav .nav-dropdown-menu {
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
}

nav .nav-dropdown-menu button {
    font-size: .8rem;
}

nav .nav-dropdown-item {
    position: relative;
}

nav .dropdown-icon {
    width: 20px;
}

nav .nav-dropdown-menu.friend-request-dropdown {
    width: 420px;
    padding: 0!important;
}

nav .friend-request-dropdown img {
    border-radius: 50%;
}