body {
    background-color: #E9EBEE;
    font-size: .8rem!important;
}

p {
    font-size: .8rem!important;
}

a {
    font-size: .8rem;
    color: #365899!important;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

input {
    font-size: .8rem!important;
}

.profile-header {
    position: relative;
    height: 465px;
    border: 1px solid #e9eaed;
    border-top: none;
}

.profile-header .cover-photo-section {
    height: 420px;
}

.profile-header .profile-avatar {
    position: absolute;
    height: 168px;
    width: 168px;
    bottom: 20px;
    left: 15px;
    z-index: 1;
    padding: 3px;
    background-color: #fff;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
}

.profile-header .profile-navigator-container {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #e9eaed;
}

.profile-navigator-container .profile-navigator {
    float: right;
    border-left: 1px solid #e9eaed;
    width: 80%;
    height: 100%;
}

.profile-header .relationship-container {
    background-color: #fff;
    position: absolute;
    right: 15px;
    bottom: 60px;
}

.profile-name {
    position: absolute;
    color: #fff;
    bottom: 50px;
    left: 198px;
}

.relationship-container button {
    font-size: .8rem;
    border-radius: 0!important;
}

.relationship-container button:not(:last-child) {
    border-right: 1px solid #000;
}

.user-name {
    font-weight: bold;
}

.round-img {
    border-radius: 50%;
}

.loader {
    width: 100%;
    height: 100%;
    background-image: url('../images/loading.gif');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, .6)
}

.full-width {
    width: 100%!important;
}

.full-height {
    height: 100%!important;
}
.textarea-no-resizable {
    resize: none;
}
.border-bottom-muted {
    border-bottom: 1px solid #bdc7d8;
}
.clickable {
    cursor: pointer!important;
}
.gap-1 {
    height: 1rem;
}
.post-list {
    margin-top: 1rem;
}
.post-creator-img-container {
    width: 40px;
    height: 40px;
}
.post-info {
    padding-left: 30px;
}
.hover-underline:hover {
    text-decoration: underline!important;
}
.wrap-content {
    word-wrap: break-word;
}
.react-tool {
    border-top: 1px solid #DADDE1;
    border-bottom: 1px solid #DADDE1;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.react-button {
    width: 33%;
    margin-left: 1px; 
    margin-right: 1px;
    font-size: .8rem;
}
.btn-default:hover {
    background-color: #E2E6EA;
}
.post-content {
    white-space: pre;
}
.max-width {
    width: 100%!important;
}
.max-height {
    height: 100%!important;
}
.comment-creator-img-container {
    width: 30px;
    height: 30px;
}
.comment-content-container {
    background-color: #F2F3F5;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.no-border {
    border: none!important;
}
.no-background {
    background: transparent!important;
}
.text-white {
    color: white!important;
}
#editProfileNameInput {
    font-size: 1.2rem!important;
    height: auto;
}
.change-avatar-layer {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    cursor: pointer;
    text-align: center;
    padding-top: 1rem;
    display: none;
    left: 0;
}
.change-cover-photo-layer {
    position: absolute;
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    left: 0;
    top: 0;
}
.change-avatar-layer h6, .change-cover-photo-layer h6 {
    color: white !important;
}
.change-avatar-layer:hover, .change-cover-photo-layer:hover {
    background-color: rgba(0, 0, 0, .6);
}
.profile-avatar:hover .change-avatar-layer {
    display: block;
}
.cover-photo-section:hover .change-cover-photo-layer {
    display: block;
}
#avatarUploadInput, #coverPhotoUploadInput {
    position: absolute;
    top:-1000px;
}
.soma-modal {
    position: fixed;
    z-index: 999999;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}
.soma-modal-body {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    background-color: #fff;
}
.soma-modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.soma-modal-footer {
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}
.notification-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: .6rem;
    text-align: center;
    color: white
}
.nav-message-single {
    padding: 10px 0;
    margin: 0 10px;
    cursor: pointer;
    margin-top: 5px;
}
.nav-message-single:hover {
    background-color: #E9EBEE;
}
.nav-message-single:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.nav-message-single.unseen {
    background-color: #edf2fa;
}
#navnewsDropdownMenu {
    max-height: 720px;
    overflow: auto;
}